.app-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
.list-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
